.main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  line-height: 1.6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #d35400; /* orange foncé */
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.highlight {
  color: #d35400;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.contactPrompt {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.detail {
  font-size: 1.1rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .subtitle,
  .contactPrompt,
  .detail {
    font-size: 1rem;
  }
}
